<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.goodthingscheduler">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodThingScheduler"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".TrackHabitsActivity"
            android:exported="false" />
        <activity
            android:name=".SceneLocationActivity"
            android:exported="false"
            android:parentActivityName=".SchedulerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneLocationActivity" />
        </activity>
        <activity
            android:name=".Challenges.SubChallengesActivity"
            android:exported="false"
            android:parentActivityName=".ChallengesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Challenges.SubChallengesActivity" />
        </activity>
        <activity
            android:name=".ChallengesActivity"
            android:exported="false"
            android:parentActivityName=".SchedulerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChallengesActivity" />
        </activity>
        <activity
            android:name=".XPTarget.XPGoalActivity"
            android:exported="false"
            android:parentActivityName=".SchedulerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".XPTarget.XPGoalActivity" />
        </activity>
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReflectionActivity"
            android:exported="false" />
        <activity
            android:name=".scheduleHabits.TaskTickedActivity"
            android:exported="false" />
        <activity
            android:name=".toDoAdd.ToDoAddThingActivity"
            android:exported="false"
            android:parentActivityName=".ToDoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".toDoAdd.ToDoAddThingActivity" />
        </activity>
        <activity
            android:name=".ToDoListActivity"
            android:exported="false" />
        <activity
            android:name=".GoodThingsActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoActivity"
            android:exported="false" />
        <activity
            android:name=".toDoAdd.AddNewCategoryActivity"
            android:exported="false"
            android:parentActivityName=".ToDoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".toDoAdd.AddNewCategoryActivity" />
        </activity>
        <activity
            android:name=".scheduleHabits.HabitEditDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".scheduleAddRoutineHabits.AddHabitsActivity"
            android:exported="false"
            android:parentActivityName=".scheduleAddRoutineHabits.AddRoutineActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".scheduleAddRoutineHabits.AddHabitsActivity" />
        </activity>
        <activity
            android:name=".scheduleAddRoutineHabits.AddRoutineActivity"
            android:exported="false"
            android:parentActivityName=".SchedulerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".scheduleAddRoutineHabits.AddRoutineActivity" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".SchedulerActivity"
            android:exported="true" />
    </application>

</manifest>